---
title: About AOR
description: ASU OM Review (AOR) is prepared by a small group of dedicated and developing scholars.
---

<div class="content">
	<section>
		<p>Since the genesis of operations management (OM), scholars have addressed managerial topics, emphasizing the relevance of their studies. Such effort has positioned operations management as an academic field renowned for its connection to practice. Given the research direction, the academic community has flourished in terms of the number of scholars, the volume of research outputs, and the diversity of research themes. </p>
		<p>While we appreciate advances in OM by previous contributors, we face another challenge today. The continuous development in OM has led to a flood of new knowledge, which cannot be easily handled by a single research entity. In addition, the field has also deepened the depth of new knowledge, making it much more time-consuming to internalize the new knowledge than previously. Furthermore, real-world problems are becoming more complex and emerging more rapidly. These new challenges increase the friction between stakeholders in the field of operations management. </p>
		<p>The vision of ASU OM Review (AOR) is to channel new knowledge learned by PhD students to the stakeholders of OM. Extensive and constructive reviews by AOR assist peer researchers in navigating their research directions through the fresh eyes of AOR editors, especially in new research domains. In addition, reader-friendly and concise content of AOR eases the understanding of academic knowledge for practitioners, thus bridging the gap between practitioners and academic scholars. </p>
		<div class="image">
			<img src="{{ site.baseurl }}/images/coverMockup.png" alt="Preview" class="screenshot editable" style="width:300px;height:500px;"/>
		</div>
	</section>
</div>
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_self" href="{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
			<div class="blurb">{{ person.blurb }}</div>
		</li>
	{% endfor %}
</ul>
