---
title: Eitors of AOR
description: ASU OM Review (AOR) is a non-profit project prepared by a small group of dedicated and developing scholars.
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_self" href="{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
			<div class="blurb">{{ person.blurb }}</div>
		</li>
	{% endfor %}
</ul>

<div class="content">
	<section>
		<div class="container flex">
			<div>
				<h2>Previous Editors</h2>
				<ul>
				{% for person in site.staff_members_previous %}
				<li>
				<div class="name"><a target="_self" href="{{ person.twitter }}">{{ person.name }}</a>, {{ person.position }} {{ person.blurb }}</div>
				</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Advisory Board</h2>
				<p>Arash Azadegan, Rutgers University</p>
				<p>Min Choi, California State University, Fullerton</p>
				<p>Sina Golara, Kennesaw State University</p>
				<p>Jeffrey Ogden, University of North Texas</p>
				<p>Zac Rogers, Colorado State University</p>
				<p>Annibal Sodero, Michigan State University</p>
				<p>Sining Song, University of Tennessee</p>
				<p>Tingting Yan, Wayne State University</p>   
				<p>Sophie Yang, University of Texas, El Paso</p>
				<p>Eunea Yoo, University of Tennessee</p>  
				<p>George Zsidisin, University of Missouri St. Louis</p>   
			</div>
		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable"><strong>Improve</strong> your knowledge in operations management</h2>
		<div class="button alt"><a href="https://www.amazon.com/dp/B0858V3TDR">Buy now</a></div>
		<p>&#9830 &#9830 &#9830</p>
		<blocknotice>
			<p>AOR is updated biannually. Proceeds will be reinvested in publishing the next volume and supporting young scholars.</p>
		</blocknotice>
	</section>

</div>

